<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{site.baseurl}}/">Xanthan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/directories">Directories</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sample Essays
          </a>
          <ul class="dropdown-menu">        
            <li><a class="dropdown-item" href="{{site.baseurl}}/essays/seedling">Seedling Essay</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/essays/sapling">Sapling Essay</a></li>        
            <li><a class="dropdown-item" href="{{site.baseurl}}/essays/forest">Forest Essay</a></li>                
          </ul>
        </li>

        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Page components
          </a>
          <ul class="dropdown-menu">
            
            <li><a class="dropdown-item" href="{{site.baseurl}}/components/typography">Typography</a></li>
            <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{site.baseurl}}/components/images">Image Basics</a></li>
              <li><a class="dropdown-item" href="{{site.baseurl}}/components/headers">Header Basics</a></li>
              <li><a class="dropdown-item" href="{{site.baseurl}}/components/bg-scrollbox">Backgrounds with scrolly boxes</a></li>
              <li><a class="dropdown-item" href="{{site.baseurl}}/components/bg-switch">Background switching with scrolly boxes</a></li>
              <li><a class="dropdown-item" href="{{site.baseurl}}/components/side-scroll">Side scrolling text</a></li>

          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Website Guides
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{site.baseurl}}/guides/getting-started">Getting Started</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/guides/understanding-folders">Understanding Folders</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/guides/understanding-pages">Understanding Pages</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/guides/editing-your-site">Editing Your Site</a></li>                      
            <li><a class="dropdown-item" href="{{site.baseurl}}/guides/adding-images">Adding Images</a></li>
            <li><a class="dropdown-item" href="{{site.baseurl}}/guides/troubleshooting">Troubleshooting</a></li>
          </ul> 
          </li>
<!--
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
