<!-- Single Podcast Display Include 
Expected input: podcast (single podcast page with yml data as indicated below)
-->
<a href="{{ site.baseurl }}{{ include.podcast.link | default: include.podcast.url }}">
<div class="podcast-card">
  
  <div class="podcast-image-col">
    <img src="{{site.baseurl}}{{ podcast.image }}" alt="{{ podcast.title }}" class="podcast-image">
  </div>

  <div class="podcast-info-col">
    <h3 class="podcast-title">{{ podcast.title }}</h3>
    <p class="podcast-description">{{ podcast.description }}</p>

      {% if include.podcast.summary %}
        {{ include.podcast.summary | markdownify }}
      {% endif %}

      <!-- Display tags if they exist -->
      {% if include.podcast.tags %}
      <div class="tags">
        {% for tag in include.podcast.tags %}
        <span class="badge bg-secondary me-1">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
      <!-- Optionally show excerpt or more details -->

  </div>
  
</div>
</a>